<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Camera rule 1">
					<match url="^camera/photo/(.*)(|/)$"  />
					<action type="Rewrite" url="camera/photo/index.php?data={R:1}"  />
				</rule>
			</rules>
		</rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://ohabbo.org/404" responseMode="Redirect" />
        </httpErrors>
	</system.webServer>
</configuration>