<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>

		<rewrite>
			<rules>
                <!-- <rule name="rule staff" stopProcessing="true">
					<match url="^indexstafdsad3(|/)$"  />
					<action type="Rewrite" url="/files/cms/index/indexstafdsad3.php"  />
				</rule> -->
                <rule name="rule 1V" stopProcessing="true">
					<match url="^index(|/)$"  />
					<action type="Rewrite" url="//"  />
				</rule>
				<rule name="rule 2V">
					<match url="^maintenance(|/)$"  />
					<action type="Rewrite" url="/files/cms/index/maintenance.php"  />
				</rule>
				<rule name="rule 3V">
					<match url="^(|/)$"  />
					<action type="Rewrite" url="/files/cms/index/index.php"  />
				</rule>
				<rule name="rule 4V">
					<match url="^index(|/)$"  />
					<action type="Rewrite" url="/files/cms/index/index.php"  />
				</rule>
				<rule name="rule 5V">
					<match url="^register(|/)$"  />
					<action type="Rewrite" url="/files/cms/index/register.php"  />
				</rule>
				<rule name="rule 6V">
					<match url="^logout(|/)$"  />
					<action type="Rewrite" url="/logout.php"  />
				</rule>
				<rule name="rule 7V">
					<match url="^me(|/)$"  />
					<action type="Rewrite" url="/files/cms/me/me.php"  />
				</rule>
				<rule name="rule 8V">
					<match url="^client(|/)$"  />
					<action type="Rewrite" url="/files/cms/client/index.php"  />
				</rule>
				<rule name="rule 9V">
					<match url="^client/(..*)(|/)$"  />
					<action type="Rewrite" url="/files/cms/client/index.php?room={R:1}"  />
				</rule>
				<rule name="rule 10V">
					<match url="^article/(..*)(|/)$"  />
					<action type="Rewrite" url="/files/cms/articles/article.php?article_id={R:1}"  />
				</rule>
				<rule name="rule 11V">
					<match url="^article(|/)$"  />
					<action type="Rewrite" url="/files/cms/articles/article.php"  />
				</rule>
				<rule name="rule 12V">
					<match url="^community/staff(|/)$"  />
					<action type="Rewrite" url="/files/cms/community/staff.php"  />
				</rule>
				<rule name="rule 13V">
					<match url="^community/halloffame(|/)$"  />
					<action type="Rewrite" url="/files/cms/community/fame.php"  />
				</rule>
				<rule name="rule 14V">
					<match url="^community/halloffame/fame(|/)$"  />
					<action type="Rewrite" url="/files/cms/community/fame.php"  />
				</rule>
				<rule name="rule 15V">
					<match url="^community/halloffame/achievements(|/)$"  />
					<action type="Rewrite" url="/files/cms/community/achievements.php"  />
				</rule>
				<rule name="rule 16V">
					<match url="^avatar/([^/]+)(|/)$"  />
					<action type="Rewrite" url="/api/avatar.php?user={R:1}"  />
				</rule>
				<rule name="rule 17V">
					<match url="^profile/(..*)(|/)$"  />
					<action type="Rewrite" url="/files/cms/me/profile.php?user={R:1}"  />
				</rule>
				<rule name="rule 18V">
					<match url="^profile(|/)$"  />
					<action type="Rewrite" url="/files/cms/me/profile.php"  />
				</rule>
				<rule name="rule 19V">
					<match url="^shop/vip(|/)$"  />
					<action type="Rewrite" url="/files/cms/shop/vip.php"  />
				</rule>
				<rule name="API Radio">
					<match url="^api/radio(|/)$"  />
					<action type="Rewrite" url="/api/radio.php"  />
				</rule>
				<rule name="rule 20V">
					<match url="^api/login(|/)$"  />
					<action type="Rewrite" url="/api/login.php"  />
				</rule>
				<rule name="rule 21V">
					<match url="^api/check(|/)$"  />
					<action type="Rewrite" url="/api/check.php"  />
				</rule>
				<rule name="rule 22V">
					<match url="^api/look(|/)$"  />
					<action type="Rewrite" url="/api/look.php"  />
				</rule>
				<rule name="rule 23V">
					<match url="^api/register(|/)$"  />
					<action type="Rewrite" url="/api/actions/register.php"  />
				</rule>
				<rule name="rule 24V">
					<match url="^api/reaction(|/)$"  />
					<action type="Rewrite" url="/api/actions/reaction.php"  />
				</rule>
				<rule name="rule 25V">
					<match url="^api/form(|/)$"  />
					<action type="Rewrite" url="/api/actions/form.php"  />
				</rule>
				<rule name="rule 26V">
					<match url="^api/errand(|/)$"  />
					<action type="Rewrite" url="/api/actions/errand.php"  />
				</rule>
				<rule name="rule 27V">
					<match url="^api/comment(|/)$"  />
					<action type="Rewrite" url="/api/actions/comment.php"  />
				</rule>
				<rule name="rule FEED">
					<match url="^api/feed(|/)$"  />
					<action type="Rewrite" url="/api/actions/feed.php"  />
				</rule>
				<rule name="rule 28V">
					<match url="^api/shop(|/)$"  />
					<action type="Rewrite" url="/api/actions/shop.php"  />
				</rule>
				<rule name="rule 29V">
					<match url="^api/client(|/)$"  />
					<action type="Rewrite" url="/api/actions/client.php"  />
				</rule>
				<rule name="rule 30V">
					<match url="^aplicativo(|/)$" />
					<action type="Rewrite" url="/aplicativo/index.php" />
				</rule>

				<rule name="rule 31V">
					<match url="^404(|/)$" />
					<action type="Rewrite" url="/files/cms/others/error.php" />
				</rule>
				<rule name="rule 32V">
					<match url="^user/([^/]+)"  />
					<action type="Rewrite" url="/api/get/user.php?figure={R:1}"  />
				</rule>
				<rule name="rule 33V">
					<match url="^panel(|/)$" />
					<action type="Rewrite" url="/files/painel/files/navigation/index.php" />
				</rule>
				<rule name="rule 34V">
					<match url="^panel/index(|/)$" />
					<action type="Rewrite" url="/files/painel/files/navigation/index.php" />
				</rule>
				<rule name="rule 35V">
					<match url="^panel/logout(|/)$" />
					<action type="Rewrite" url="/files/painel/files/navigation/logout.php" />
				</rule>
				<rule name="rule 36V">
					<match url="^panel/home(|/)$" />
					<action type="Rewrite" url="/files/painel/files/navigation/home.php" />
				</rule>
				<rule name="rule 37V">
					<match url="^panel/article/create(|/)$" />
					<action type="Rewrite" url="/files/painel/files/navigation/create-article.php" />
				</rule>
				<rule name="rule 38V">
					<match url="^panel/host-badge(|/)$" />
					<action type="Rewrite" url="/files/painel/files/navigation/host-badge.php" />
				</rule>
				<rule name="rule 39V">
					<match url="^panel/articles/(..*)(|/)$" />
					<action type="Rewrite" url="/files/painel/files/navigation/articles.php?user={R:1}" />
				</rule>
				<rule name="rule 40V">
					<match url="^panel/hall-points(|/)$" />
					<action type="Rewrite" url="/files/painel/files/navigation/hall-points.php" />
				</rule>
				<rule name="rule 41V">
					<match url="^panel/add-furniture(|/)$" />
					<action type="Rewrite" url="/files/painel/files/navigation/addfurni.php" />
				</rule>
				<rule name="rule 42V">
					<match url="^adblock(|/)$" />
					<action type="Rewrite" url="/files/cms/others/adblock.php" />
				</rule>
				<rule name="rule 43V">
					<match url="^store/vip(|/)$" />
					<action type="Rewrite" url="/files/cms/shop/store.php" />
				</rule>
				<rule name="rule 44V">
					<match url="^forgotpass(|/)$" />
					<action type="Rewrite" url="/files/cms/index/forgot.php" />
				</rule>	
				<rule name="rule 45V">
					<match url="^api/actions/api/token/(..*)(|/)$"  />
					<action type="Rewrite" url="/api/actions/api.php?token={R:1}"  />
				</rule>	
				<rule name="rule 46V">
					<match url="^api/actions/api(|/)$"  />
					<action type="Rewrite" url="/api/actions/api.php?type={R:1}"  />
				</rule>	
			</rules>
		</rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://ohabbo.org/404" responseMode="Redirect" />
        </httpErrors>
	</system.webServer>
</configuration>
